<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.emerbv.FigrClub</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>figrclub</string>
			</array>
		</dict>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>FigrClub te enviará notificaciones sobre nuevos posts, likes y mensajes.</string>
	<key>NSCameraUsageDescription</key>
	<string>FigrClub necesita acceso a la cámara para tomar fotos y grabar videos para tus publicaciones.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>FigrClub necesita acceso al micrófono para grabar audio en tus videos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>FigrClub necesita acceso a tu galería de fotos para seleccionar imágenes y videos para tus publicaciones.</string>
</dict>
</plist>
